/tbtf-bank1/target
/tbtf-bank2/target
/tbtf-bank3/target
/tbtf-bank4/target

/tbtf-bank1/.settings
/tbtf-bank1/.project
/tbtf-bank1/.classpath


/tbtf-bank2/.settings
/tbtf-bank2/.project
/tbtf-bank2/.classpath


/tbtf-bank3/.settings
/tbtf-bank3/.project
/tbtf-bank3/.classpath


/tbtf-bank4/.settings
/tbtf-bank4/.project
/tbtf-bank4/.classpath